Repository VisActor/vchart-theme, changes with the labels that .github/labeler.yml gives for each.
All labels: vchart-theme, vchart-theme-utils, vchart-semi-theme, vchart-arco-theme, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vchart-theme' label to any change within the 'vchart-theme' package
vchart-theme:
  - packages/vchart-theme/**

# Add 'vchart-theme-utils' label to any change within the 'vchart-theme-utils' package
vchart-theme-utils:
  - packages/vchart-theme-utils/**

# Add 'vchart-semi-theme' label to any change within the 'vchart-semi-theme' package
vchart-semi-theme:
  - packages/vchart-semi-theme/**

# Add 'vchart-arco-theme' label to any change within the 'vchart-arco-theme' package
vchart-arco-theme:
  - packages/vchart-arco-theme/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to docs/ files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to docs/ files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to docs/ files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json
  - packages/vchart-theme/src/type.ts

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/autoinstallers/**
  - common/git-hooks/**
  - common/scripts/**

fix: update readme
  README.md
  README.zh-CN.md
Labels: none

fix: update readme
  README.zh-CN.md
Labels: none

fix: semi token mapping
  packages/vchart-semi-theme/src/common/token-map.ts
  packages/vchart-semi-theme/src/dark/color-scheme.ts
  packages/vchart-theme-utils/src/interface.ts
  packages/vchart-theme-utils/src/utils/get-token-value.ts
Labels: vchart-theme-utils, vchart-semi-theme

chore: update dependencies
  common/changes/@visactor/vscale/feat-range-factor_2023-11-13-10-59.json
  common/config/rush/pnpm-lock.yaml
  packages/vchart-arco-theme/package.json
  packages/vchart-semi-theme/package.json
  packages/vchart-theme-utils/package.json
  packages/vchart-theme/package.json
  share/chart-demo/package.json
Labels: vchart-theme, vchart-theme-utils, vchart-semi-theme, vchart-arco-theme

chore: update dependencies
  packages/vchart-arco-theme/package.json
  packages/vchart-semi-theme/package.json
Labels: vchart-semi-theme, vchart-arco-theme

chore: update workflows
  .github/workflows/hotfix.yml
  .github/workflows/release-changelog.yml
  .github/workflows/release.yml
  .github/workflows/sync-develop.yml
  .github/workflows/unit-test.yml
  common/scripts/apply-prerelease-version.js
  common/scripts/apply-release-version.js
  common/scripts/pre-release.js
  common/scripts/release.js
  common/scripts/set-json-file.js
  common/scripts/set-prerelease-version.js
Labels: chore
